<% content_for :left_bar do %>
	<ul class="nav nav-tabs nav-stacked">
	<% @places.each do |p| %>
		<li><%= link_to p.name,'/p/'+p.id.to_s  %></li>		
	<% end %>
	</ul>
<% end %>
<h1><%= @place.name %></h1>
<table>
	<% @rooms.each do |r| %>
        <tr>
                <td><%= r.name %> </td>
        </tr>
	<% end %>
</table>
