body{
	padding-top:40px;
}

.bg{
	background:url('/assets/bg.png');
	background-size: 100%;
}

#nav_brand{
	margin-left: 200px;
	text-align: right;
}

.container-fluid,.container {
	padding-top:20px;
}